* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
  margin: 50px auto;
  background-color: rgb(60, 108, 70);
}

h1 {
  color: white;
}

h4 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.instrucoes {
  width: 60%;
  margin: 50px auto;
  color: white;
  text-align: left;
}

form {
  margin: 30px;
}

form input {
  font-size: 15px;
  padding: 5px;
  width: 350px;
  border: none;
  text-align: center;
}
form button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
ul {
  margin: 20px auto;
  width: 60%;
  padding: 25px;
  text-align: justify;
  background-color: lightgray;
}

ul li {
  border-bottom: 1px solid rgb(163, 158, 253);
  margin: 5px auto;
  list-style: inside square;
}

.riscado {
  text-decoration: line-through;
}
